@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

/* Resetting Browser Default Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Baloo Chettan 2', cursive;
}

/* Navbar Toggler */
.navbar-toggler{
    border: 2px solid #fff !important;
    border-radius: 5px;
}

/* brand styling */
.nav-shrink {
    background-color: rgba(0,0,0,.5);
    padding: 5px;
    /* height: 70px; */
}

.navbar-brand {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 30px;
}

/* navbar list font size*/
.navbar-nav {
    font-size: 20px;
}

/* navbar link font color */
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: orange;
}

#innerImage {
    text-align: center;
    padding: 0;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) , url(../assets/bike.jpg) no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.innerImageText-1 {
    color: #fff;
    position: relative;
    top: 40%;
    text-transform: uppercase; 
}

.innerImageText-1 h3 {
    font-size: 40px;
}

.innerImageText-2 h2{
    color: #fff;
    font-size: 50px;
    top: 50%;
    left: 38%;
    position: absolute;
    text-transform: uppercase; 
}

.innerImageText-2 .typing {
    color: #fff;
}
.typing {
    position: relative;
}

.typing::after {
    content: "";
    position: absolute;
    right: -5px;
    width: 5px;
    height: 100%;
    border-right: 3px solid #fff;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typed-cursor { /* changing Cursor Blinking Effect of typed.js */
    display: none;
}

/* about us styling */
.about-me {
    margin-top: 5%;
    text-transform: uppercase;
}

.about-heading {
    /* text-transform: uppercase; */
    font-size: 30px;
}

.profile-image {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 50%;
    object-fit: cover;
    margin-top: 2%;
}

.profile-bio-heading {
    margin-top: 2%;
}

.profile-bio-description {
    margin-top: 5%;
}

/* skill styling */
.skill {
    margin-top: 5%;
    text-transform: uppercase;
}

.skill-1, 
.skill-2,
.skill-3,
.skill-4,
.skill-5,
.skill-6,
.skill-7 {
    margin-top: 10px;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.skill-container {
    width: 100%;
    background-color: #ddd;
}

.illustrator {
    width: 100%;
    background-color: #4CAF50;
    
}

.photoshop {
    width: 80%;
    background-color: #2196F3;
}

.premiere-pro {
    width: 90%;
    background-color: #f44336;
}

.after-effect {
    width: 50%;
    background-color: #808080;
}

.davinci-resolve {
    width: 70%;
    background-color: #2475B0;
}

.maya-3d {
    width: 95%;
    background-color: #192A56;
}

.max-3d {
    width: 100%;
    background-color: #4CAF50;
}
/* personel info styling */
.personel-info {
    text-transform: uppercase;
    padding: 20px 20px;
}
.personel-bio {
    margin-top: 7%;
}
.clearfix {
    margin-top: 5%;
}

.list-title {
    display: block;
    float: left;
    width: 120px;
    float: left;
}
.cont {
    display: block;
}

/* services styling */
.services {
    text-transform: uppercase;
    margin-top: 5%;
}
.services-heading {
    font-size: 30px;
}

.service {
    margin: 10px;
    margin-top: 10%;
    border-radius: 0;
    background-color: lightgray;
}
.service-1 h1, .service-2 h1, .service-3 h1, .service-4 h1 {
    font-size: 20px;
    font-weight: bold;
}

/* accomplishment styling */
.accomplishment {
    object-fit: cover;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/leaf.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    color: #fff;
}

.accomplishment .number {
    font-size: 50px;
}

.accomplishment h1 {
    font-size: 20px;
}

/* portfolio styling */
.portfolio {
    text-transform: uppercase;
    margin-top: 5%;
}
.portfolio-heading {
    font-size: 30px;
}
.custom-portfolio {
    border: 2px dashed black;
    width: 100%;
    height: 500px;
}

/* contact styling */
.contact-form {
    margin-top: 5%;
    text-transform: uppercase;
}

.custom-form {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form label {
    font-size: 18px;
    font-weight: bold;
}

input[type=text], input[type=email], input[type=submit]{
    border-radius: 0;
}

input[type=submit] {
    margin-top: 10px;

    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 30px;
    padding-right: 30px;
}

.custom-form textarea {
    border-radius: 0;
    resize: none;
}

/* address-section styling */
.address-section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/green.jpg);
    object-fit: cover;
    width: 100%;
    height: 300px;
    background-size: cover;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    color: #fff;
}

.address-info {
    font-size: 20px;
}

.phone-number h1, .email h1, .address h1 {
    font-size: 30px;
}

/* footer styling */
.footer {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
}

.brandName h1 {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 10%;
}

.companyName h1 {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 10%;
}

.brandSocial .socialicon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 30px;
    margin-top: 8%;
}

.brandSocial .socialicon li a {
    text-decoration: none;
    border: none;
}